
apiVersion: 1

providers:
  - name: 'default'
    orgId: 1
    folder: ''
    type: file
    disableDeletion: false
    updateIntervalSeconds: 10
    allowUiUpdates: true
    options:
      path: /var/lib/grafana/dashboards

  - name: 'infrastructure'
    orgId: 1
    folder: 'Infrastructure'
    type: file
    disableDeletion: false
    updateIntervalSeconds: 10
    allowUiUpdates: true
    options:
      path: /var/lib/grafana/dashboards/infrastructure

  - name: 'applications'
    orgId: 1
    folder: 'Applications'
    type: file
    disableDeletion: false
    updateIntervalSeconds: 10
    allowUiUpdates: true
    options:
      path: /var/lib/grafana/dashboards/applications

  - name: 'security'
    orgId: 1
    folder: 'Security'
    type: file
    disableDeletion: false
    updateIntervalSeconds: 10
    allowUiUpdates: true
    options:
      path: /var/lib/grafana/dashboards/security

{% if grafana_additional_dashboard_providers is defined %}
{% for provider in grafana_additional_dashboard_providers %}
  - name: '{{ provider.name }}'
    orgId: {{ provider.orgId | default(1) }}
    folder: '{{ provider.folder | default('') }}'
    type: {{ provider.type | default('file') }}
    disableDeletion: {{ provider.disableDeletion | default(false) }}
    updateIntervalSeconds: {{ provider.updateIntervalSeconds | default(10) }}
    allowUiUpdates: {{ provider.allowUiUpdates | default(true) }}
    options:
      path: {{ provider.path }}
{% endfor %}
{% endif %}

